<div>
<div *ngFor="let item of produitincart" >
        <p>Id : {{item.item.id}}</p>
        <p>Nom : {{ item.item.name }}</p> 
        <p>Prix : {{ item.item.prix }}€ </p>
        <p>Type : {{ item.item.type }}</p>
        <p>Description : {{ item.item.description}} </p> 
        <p>Quantité : {{ item.qtn}} </p>
        <button class="btn btn-primary" (click)="delToPanier(item.item)">Retirer du panier</button >
</div>
<div><button class="btn btn-primary" *ngIf="produitincart.length>0" (click)="passOrder()">Passer la commande</button></div>
</div>
<router-outlet></router-outlet>