/* You can add global styles to this file, and also import other style files */
/*body{
    background-color: #c0c0c0;
    
}

button{
    border-radius: 1%;
    background-color: blue;
    padding: 0.25%;
}

*/